* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#taskWrapper, #newTask {
    width: 85vw;
    background-color: coral;
}

.remove:hover {
	cursor: pointer;
	width: fit-content;
	background-color: red;
}
